{% extends 'base.html' %}
{% load static %}

{% block title %}cargar{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Cargar</h4>
                <p class="card-category">Descripción del nuevo módulo</p>
            </div>
            <div class="card-body">
                <!-- Contenido de tu nuevo módulo -->
                <p>Este es el contenido de mi nuevo módulo</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}